.home-catalog-preview {
  .tile-catalog-preview {
    text-align: center;
    letter-spacing: 0px;
    color: $brand-primary;
    padding: 20px;
    font: normal normal bold 28px/38px Playfair Display;
    border-top: 1px solid $gray-secondary;
    margin-top: 15px;
    opacity: 1;
  }
}

.footer-button {
  text-align: center;
  margin: 65px auto;
}

.catalog-cta {
  border: 1px solid #2b2b2b;
  padding: 5px 15px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: normal;
  color: #2b2b2b;
}

.button-ctas {
  color: $brand-primary;
  text-align: center;
  font: normal normal normal 18px/22px Roboto;
  letter-spacing: 0.88px;
  color: #2b2b2b;
  opacity: 1;
  padding-bottom: 48px;
}

.home-catalog-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.catalog-ctas > a {
  display: inline-block;
  align-items: center;
  border: 1px solid #2b2b2b;
  opacity: 1;
  background: #fff;
  font: normal normal normal 18px/22px Roboto;
  letter-spacing: 0.88px;
  padding: 12px 6px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .home-catalog-product {
    flex-direction: column;
    align-items: center;
  }

  .tile-catalog-preview {
    margin-top: 0;
  }

  .button-ctas {
    padding-bottom: 24px;
  }

  .catalog-ctas > a {
    font-size: 14px;
    padding: 8px 4px;
  }
}
