.footer {
  background-color: #e8e8e8;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 53px;
  font-size: 18px;
  color: #2b2b2b;

  .footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  ul {
    width: 211px;
    margin-bottom: 0;
  }

  li {
    margin-bottom: 8px;
  }

  .footer-nav {
    display: flex;
    gap: 20px;
    font: normal normal normal 22px/37px Playfair Display;
    letter-spacing: 0.52px;
    color: $brand-primary;
    text-transform: lowercase;
    opacity: 1;
    flex-basis: 100%;
  }

  .social-media ul {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    opacity: 1;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    > input,
    > button {
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    .footer-nav,
    .social-media ul,
    .footer-newsletter {
      flex-basis: 40%;
    }
  }
}
