.header-primary {
  background-color: $brand-primary;
  padding: 4px 0;

  .header-primary-inner {
    color: $gray-secondary;
    font-size: 19px;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    letter-spacing: 0.28px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      text-transform: uppercase;
      font-size: 20px;
      justify-content: space-between;
      padding-top: 19px;
      padding-bottom: 19px;
      font: normal normal normal 19px/22px Playfair Display;
      letter-spacing: 0.28px;

      li {
        a {
          color: $gray-secondary;
          text-decoration: none;
          position: relative;

          &:hover {
            color: $brand-secondary;
          }

          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $brand-secondary;
            transition: width 0.2s linear;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }

  .hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle:checked + .header-primary-inner .header-secondary-inner {
    display: flex;
  }

  @media (max-width: 768px) {
    .hamburger-icon {
      display: block;
    }

    .header-primary-inner {
      display: none;
    }

    .menu-toggle:checked + .header-primary-inner {
      display: flex;
    }
  }

  .header-primary-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .header-primary-inner ul li {
    padding: 10px 0;
  }

  .header-primary-inner ul li a {
    text-decoration: none;
    color: $gray-secondary;
  }
}
