.header-secondary {
  background: url('/public/banners/banner.png') no-repeat center center / cover;
  opacity: 1;
  background-size: cover;
  background-position: center center;
  height: 500px;
  text-transform: uppercase;
}
