.header-secondary {
  background: url('../../../assets/banners/banner.png') no-repeat center right;
  opacity: 1;
  background-size: cover;
  background-position: center center;
  height: 500px;
  text-transform: uppercase;

  .header-secondary-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; // Redu padding-ul pentru dispozitivele mobile
    box-sizing: border-box;

    .header-connect,
    .header-controls {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 26px;
        padding-top: 22px;

        li {
          font: normal normal normal Playfair Display;
          letter-spacing: 0.24px;
        }
      }
    }

    .header-controls {
      ul {
        color: #111111;

        input,
        button {
          font-size: 16px;
        }

        input {
          padding: 8px 6px;
        }

        button {
          padding: 8px 10px;
        }

        form {
          border: 1px solid $white;
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }

  @media (max-width: 600px) {
    background-image: url('../../../assets/banners/mobile.png');
    background-position: center top;
    height: 350px;
    padding: 0;

    .header-secondary-inner {
      flex-direction: column;

      .header-connect,
      .header-controls {
        ul {
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          padding-top: 10px;

          li {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
