.header-primary {
  background-color: $brand-primary;
}

.header-primary-inner {
  color: $gray-secondary;
  font-size: 19px;
  text-transform: uppercase;
  opacity: 1;
  text-align: center;
  letter-spacing: 0.28px;

  ul {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 100;
    font: normal normal normal 19px/22px Playfair Display;
    letter-spacing: 0.28px;

    a:hover {
      width: 100px;
      height: 2px;
      border-bottom: 2px solid $brand-secondary;
      color: $brand-secondary;
      transition: color 0.2s linear;
    }
  }
}
