// fonts
@import './styles/fonts';
@import './styles/fonts';

// relative path to node_modules via sass
@import './../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// import via node_Modules ~ alias
// ./.../node_modules/bootstrap/
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-utilities';

@import './styles/variables';

//fonts
// @import './styles/fonts';

// ui
@import './styles/ui/index';

// common site components
@import './styles/common/index';

// home page components
@import './styles/home/index';

// catalog components
@import './styles/catalog/index';

//mens components
@import './styles/mens/index';

//products components
@import './styles/products/index';

//bag components
@import './styles/bag/index.scss';

//signIn components
@import './styles/signIn/index.scss';

//shipping components
@import './styles/shipping/index';

//shipping billing
@import './styles/billing/index';
/* /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
  color: $gray-primary;
}

a,
button,
input[type='button'] {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
