.account-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin: 36px;

  .sign-in {
    border-right: 1px solid $gray;
  }
  .sign-costumer {
    text-align: center;
    font: normal normal bold 14px/16px Playfair Display;
    letter-spacing: 0.1px;
    color: $brand-primary;
    text-transform: uppercase;
    opacity: 1;
    margin: 22px 12px;
    padding: 12px;
    border-bottom: 1px solid $gray;

    h1 {
      font-size: 22px;
    }
  }

  .sign-p {
    margin: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Roboto;
    letter-spacing: 0.08px;
    color: $brand-primary;
    opacity: 1;
  }

  fieldset {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 24px;
    row-gap: 18px;

    input {
      text-align: left;
      font: normal normal normal 20px/22px Playfair Display;
      letter-spacing: 0.08px;
      color: $brand-primary;
      opacity: 0.6;
      margin-right: 8px;
    }

    a {
      text-align: center;
      text-decoration: underline;
      font: normal normal normal 15px/20px Playfair Display;
      letter-spacing: 0.06px;
      color: $brand-primary;
      text-transform: lowercase;
      opacity: 1;
    }

    label {
      text-align: center;
      font: normal normal normal 15px/20px Playfair Display;
      letter-spacing: 0.07px;
      color: #2b2b2b;
      text-transform: lowercase;
      opacity: 1;
    }

    .btn-sign {
      color: white;
      background: black;
      padding: 14px 20px;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      border: #2b2b2b;
      letter-spacing: 0.7px;
    }
  }
}

.bag-header h1 {
  margin-bottom: 46px;
}

@media (min-width: 768px) {
  .account-register {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .sign-in,
  .register {
    margin: 0;
  }

  .sign-costumer {
    margin: 12px;
  }

  .sign-p {
    margin: 12px;
  }

  fieldset {
    grid-row-gap: 16px;
    row-gap: 12px;
  }

  .btn-sign {
    padding: 12px 16px;
  }
}
