.product-tile-header {
  position: relative;

  .heart-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
    opacity: 1;

    .heart-btn:hover {
      color: $gray-secondary;
      transition: color 0.2s linear;
    }
  }
}

.home-catalog-preview {
  .product-tiles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;

    .product-tile {
      font-size: 24px;
      color: #2b2b2b;
      text-align: center;
      opacity: 1;
      letter-spacing: 0.79px;
      margin-top: 21px;
      margin-bottom: 8px;
      font: normal normal bold 22px/39px Playfair Display;
      text-transform: uppercase;
      margin-right: 24px;
    }
  }
}

@media (max-width: 767px) {
  .home-catalog-preview-tile {
    margin-top: 40px;
  }

  .home-catalog-preview-tile > span {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .home-catalog-preview-tile > p {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 24px;
  }

  .home-catalog-preview-btn > ul {
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin-bottom: 24px;
    }
  }

  .product-tile-header {
    .heart-btn {
      top: 10px;
      right: 10px;
      font-size: 18px;
    }
  }

  .home-catalog-preview {
    .product-tiles {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 24px;

      .product-tile {
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 4px;
        margin-right: 12px;
      }
    }
  }
}
